.logo {
    width: 130px;
}
.bi-person{
    font-size: 1.4rem;
}
.bi-basket3{
    font-size: 1.2rem;
}
.mt{
    margin-top:3px;
}
.br{
    border-radius:30px  30px;
}
.icon{
    width: 26px;
    height:26px;
}
.bg-navy{
    background:#191970;
    border-radius:20px;
}
i{
    font-size: 16px !important;
}
.border-none{
    border:white ;
}