<div class="shadow pb-3  bg-white  container">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center ">
            <img src="https://i.postimg.cc/dVCF4YKf/1000092324-removebg-preview.png" alt="logo" class="logo">
        </div>
        <div class="d-flex  align-items-center just">

            <div class=" d-flex text-white align-items-center justify-content-center  me-3 ">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </div>
            <button type="button" class="btn text-white bg-navy" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                Log in
            </button>



        </div>

    </div>
    <div class="input-group input-group border-none bg-light br p-2">

        <input type="text" class="form-control bg-light me-1 border-none" placeholder="WHAT ARE YOU LOOKING FOR!!!"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing">
        <span class="input-group-text bg-dark border-dark text-white rounded-circle " id="inputGroup-sizing-lg">
            <i class="bi bi-search"></i>
        </span>
    </div>
</div>



<div class="offcanvas off pt-3 offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
    aria-labelledby="offcanvasBottomLabel">

    <div class="container">


        <p class="text mb-4">Existing Customers</p>
        <div class="form-floating mb-3">
            <input type="email" class="form-control-1 form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address*</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control form-control-1"id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password*</label>
        </div>

        <button type="button" class="btn mb-2 text-white w-100 py-2 bg-navy">LOG IN</button>
        <span>By using this website and/or placing an order you agree to the Terms & Conditions of MAKAZANA & CO.</span>
        <div class="mt-5">
            <h6 class="text">New Customers</h6>
            <button type="button" class="btn mb-3 bg-navy w-100 py-2 bg-light">REGISTER NOW</button>
        </div>
    </div>
</div>