<div class="container-sm p-0 max-width-mobile">

    <!-- Top Header Banner -->
    <div class="hero-banner p-0 mobil">
        <div class="d-flex justify-content-between align-items-center top-controls">
            <button class="icon-btn"><i class="bi bi-arrow-left"></i></button>
            <button class="icon-btn"><i class="bi bi-three-dots"></i></button>
        </div>

        <!-- SPAR Logo Overlay -->
        <div class="logo-container" *ngIf="obj.logo">
            <img src="{{obj.logo}}" alt="{{obj.name}}">
        </div>
    </div>

    <!-- Main Content Section -->
    <div class="main-content  container-sm pt-3">

        <!-- Store Title & Info -->
        <div class="text-center mb-3">
            <h2 class="fw-bold text mb-2">{{obj.name}}</h2>

        </div>
        <div class="row text-center">
            <div class="col-4 d-flex justify-content-center border-end p-2">
                <div class="con">
                    <div class="d-flex">
                        <p class="span mb-0 mx-2">4.5</p>
                    </div>
                    <p class="span-1 mb-0 text-secondary">(200+)</p>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center border-end p-2">
                <div class="com">
                    <div class="d-flex">
                        <p class="fw mb-0" ><span class="span-1 mb-3">R</span> 300.00 </p>
                    </div>
                    <p class="span-1 mb-0 text-secondary">delivery</p>

                </div>
            </div>
            <div class="col-4  p-2">
                <div class="con">
                    <p class="span mb-0" >20 - 40</p>
                    <p class="span-1 mb-0 text-secondary">mins </p>

                </div>
            </div>
        </div>

    </div>
</div>