<div class="bg-dark  bg  fixed-top z-n1">
    <div class="bg-b h-100 w-100">

    </div>

</div>
<div class="container z-1">
    <div class="d-flex  py-3 justify-content-between">
        <div class="icon d-flex align-items-center justify-content-center bg-white rounded-circle shadow">
            <i class="bi bi-arrow-left"></i>
        </div>
        <div class="d-flex">
            <div class="icon d-flex align-items-center justify-content-center bg-white rounded-circle me-3 shadow">
                <i class="bi bi-heart"></i>
            </div>
            <div class="icon d-flex align-items-center justify-content-center bg-white rounded-circle shadow">
                <i class="bi bi-search"></i>
            </div>
        </div>
    </div>
    <div *ngIf="obj.logo" class="pt-3">
        <img src="{{obj.logo}}" alt="" class="logo border border-3 border-white rounded-circle">
    </div>
    <h5 [ngClass]="{'mt-5':!obj.logo}" class="text pt-2">{{obj.name}}</h5>
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <i class="bi span  bi-geo-alt"></i>
            <p class="span mb-0 mx-2">160 Phakamani Rd, Village 1 North</p>
        </div>
        <div  class="d-flex bg-dark rounded-4 text-white px-1 align-items-center">
            <i class="bi span me-1 text-truncate text-warning bi-star-fill"></i>
            <span class="span">2.5</span>
        </div>
    </div>
    <div class="d-flex align-items-center mt-2 span">
        <div class="d-flex align-items-center me-2">
            <h6 class="text mb-0 span">40 - 60 mins </h6>
        </div>
        <i class="bi  bi-dot"></i>
        <div class="d-flex align-items-center mx-2">
            <h6 class="span text mb-0">1.2KM away</h6>
        </div>
        <i class="bi bi-dot"></i>
        <div class="d-flex align-items-center ms-2">
            <h6 class="span text mb-0">R 30.00 fee</h6>
        </div>
    </div>
</div>