<div class="pt-4 fixed-top container">
    <div class="toast border-danger align-items-center" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <p class="span mb-0 text-danger">An account with this email address already exists. Try signing in or
                    resetting your password.</p>
            </div>
            <button type="button" class="btn-close text-danger me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>

</div>


<div class="container pt-5">
    <p class="text bold">CREATE ACCOUNT</p>
    <p class="text bold">NEW MEMBER</p>


    <p class="text"> BY CREATING AN ACCOUNT WITH OUR STORE, YOU WILL BE ABLE TO MOVE THROUGH THE CHECKOUT PROCESS
        FASTER, STORE MULTIPLE SHIPPING ADDRESSES, VIEW AND TRACK YOUR ORDERS IN YOUR ACCOUNT AND MORE.
        FIELDS LABELED WITH AN ASTERISK (*) ARE REQUIRED.
    </p>
    
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control"
            id="floatingInputLast" placeholder="Mask">
        <label class="text" for="floatingInputLast">FULL NAME*</label>
    </div>

    
    <div class="form-floating mb-3">
        <input type="email" class="form-control"
            id="floatingInput" placeholder="name@example.com">
        <label class="text" for="floatingInput">EMAIL ADDRESS*</label>
    </div>


    <div class="form-floating mb-3">
        <input type="password" 
            class="form-control" id="floatingPassword" placeholder="Password">
        <label class="text" for="floatingPassword mx-0 text px-0">PASSWORD*</label>

    
    <button type="button" 
        class="btn bold text border mb-2 text-white mt-3 br py-2 btn-primary w-100">SIGN UP</button>
    <button type="button" class="btn bold bg-white text br border w-100 text-secondary py-2">CREATE ACCOUNT</button>

</div>

