.text,
label {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

}

.span {
    font-size: 14px;
}

.box {
    background: linear-gradient(to left, blue 10%, #191970);

}

.offcanvas-bottom {
    height: 500px !important;

}

h1 {
    font-size: 40px;
}

.border-none {
    border: none !important;
}

.icon {
    width: 30px !important;
    height: 30px !important;
}

h3 {
    font-size: 20px !important;
}

p {
    font-size: 15px;
}

.bg-navy {
    background: #191970;
    border-radius: 20px;
}

span {
    font-size: 10px;
}

.icon-so{
    width:50px;

}