.text {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

}

.box {
    background: linear-gradient(to left, white 10%, #191970);

}
h1{
    font-size: 40px;
}