.btn-b {
    width: 35px;
    height: 35px;
}

.vh-90 {
    height: 74vh;
}

.bg-navy {
    background: #191970;
    border-radius: 20px;
}

.w-70 {
    width: 70%;
}

.text,
label {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

}

.span {
    font-size: 13px;
}

/* Container Box */
.custom-float-select {
    position: relative;
    user-select: none;
    box-sizing: border-box;
}

/* Focused / Open State (Amber border highlight) */
.custom-float-select:focus-within,
.custom-float-select.open {
    border-color: #f59e0b;
    /* Amber border as seen in Image 1 */
}

/* Trigger Box Layout */
.select-trigger {
    position: relative;
    padding: 14px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 64px;
    cursor: pointer;
}



/* Value Text Styling */
.select-value {
    font-size: 1.1rem;
    margin-top: 2px;
    display: none;

}


.custom-float-select.has-value .select-label {
    font-size: 0.75rem;
    font-weight: 600;
}

.custom-float-select.has-value .select-value {
    display: block;
}


.select-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    transition: transform 0.2s ease;
}

.custom-float-select.open .select-icon {
    transform: translateY(-50%) rotate(180deg);
}

/* Custom Dropdown Menu Wrapper */
.select-dropdown {
    display: none;
    /* Toggle to 'block' when open */
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    background-color: #232426;
    border-radius: 16px;
    padding: 8px;
    z-index: 100;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.custom-float-select.open .select-dropdown {
    display: block;
}




.check-icon {
    visibility: hidden;
    font-size: 1.1rem;
}

.select-option.selected .check-icon {
    visibility: visible;
}