<div class="vh-100 fixed-top">


<app-navbar></app-navbar>
<div class="container h-100 py-3">
<div class="grid-container">
    <div class="bg-light card-main rounded-2 container py-3">
        <h5 class="text">Eats</h5 >
            <div class="main">
            <img src="https://i.postimg.cc/rpTzG50n/1000093962-removebg-preview.png" alt class="main-img">
            </div>
    </div>
    <div class="bg-light card-main rounded-2 container py-3 xon">
        <h5 class="text">Grocery</h5>
        <div class="main pt-2">
            <img src="https://i.postimg.cc/m2wFdX4K/1000093964-removebg-preview.png" alt="" class="main-img">
        </div>
    </div>
    <div class="p-3 bg-dark">

    </div>

</div>
</div>
<app-bottombar></app-bottombar>
</div>