button,
span,
h6 {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

}

.shop-logo {
    width: 50px;
    height: 50px;
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230px;


}


.bg-logo {

    overflow: hidden;
    width: 35px;
    height: 35px;
}

.main-img {
    width: 50px;
    height: 50px;
}

.box {
    background-image: linear-gradient(to top, white 60%, transparent);
    
}



::-webkit-scrollbar {
    width: 0px;
    /* Width of vertical scrollbar */
    height: 0px;
    /* Height of horizontal scrollbar */
}


.br {
    border-radius: 30px 30px;
}

.bg-navy,
button {
    background: #191970;
    border-radius: 20px;
    font-size: 14px;
}

.icon {
    width: 20px;
    height: 20px;
}

.over {
    overflow-x: auto;
}

.span {
    font-size: 14px;
}
.main-span{
    font-size:10px;
}