img {
    width: 60px;
    height: 60px;
}

h6,
p {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

}

.span {
    font-size: 12px;
}
.icon{
    width: 30px;
    height: 30px;
}
.font{
    font-size: 14px;
}