<div class="container bg-light vh-100 fixed-top py-3 ">
    <div class="shadow container bg-white rounded-3 py-3">
        <div class="row align-items-center">
            <div class="col-3">
                <img src="https://i.postimg.cc/D0Wmx44s/1780680388958.jpg" class="rounded-circle img"
                    alt="User Profile " style=" object-fit: cover;">

            </div>
            <div class="col">
                <h6>{{user.name| titlecase}}</h6>
                <p class="text-secondary mb-0 span">{{user.email}}</p>
            </div>
        </div>
    </div>

    <div class="my-3 shadow px-1  bg-white rounded-3 py-3">
        <div class="container">
            <h6>ACCOUNT</h6>
        </div>
        <div class="bg-light p-2  rounded-3">

            <div class="d-flex align-items-center">
                <div class="icon me-3 bg-white d-flex justify-content-center align-items-center rounded-circle text-secondary" >
                    <i class="bi text-black bi-gift"></i>
                </div>
                <p class="span text-black mb-0" >Rewards</p>
            </div>
        </div>
    </div>
</div>